<%- include ../partials/head %>
<%- include ../partials/header %>
<section class="layout">
  <h1><%= title %></h1>
  <h2>Set your preferences</h2>
<%- include ../components/add %>
</section>
<%- include ../partials/footer %>
